<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <!--Search-->
            <nav class="navbar">
                <input class="form-control" type="text" name="title" [(ngModel)]="title" (ngModelChange)="Search()"
                placeholder="Enter Product Name to Search">
            </nav>

            <table class="table table-bordered table-image">
                <thead>
                   <tr>
                        <td>Product image</td>
                        <td>Product Name</td>
                        <td (click)="sort('price')">Product price<i class="fa fa-sort"></i></td>
                        <td>Product description</td>
                        <td>Check Out Product</td>
                    </tr>
                </thead>
                <tbody *ngFor="let product of products | orderBy : key : reverse | paginate: {itemsPerPage:10,currentPage:p};">
                    <td><img  class="img-fluid img-thumbnail img-responsive" src="{{product.Image}}"></td>
                    <td>{{product.title | lowercase}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td><a (click)="goToDetail(product._id)" class="h3 text-decoration-none text-dark btn btn-success">Check</a></td>
                </tbody>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </table>
            <!--<app-product [product]="product"></app-product>-->
            <!--need to add page numbers ??-->
        </div>

    </div>
</div>
<!-- End Content -->