<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Categories</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Visage</a></li>
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Corps</a></li>
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Capillaire</a></li>
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Solaire</a></li>
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Bébe & Maman</a></li>
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Nature/Bio</a></li>
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Compléménts Alimentaire</a></li>
                <li class="pb-3"><a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">Autre</a></li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Featured</option>
                            <option>A to Z</option>
                            <option>Item</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <app-product></app-product>
                </div>
                <div class="col-md-4">
                    <app-product></app-product>
                </div>
                <div class="col-md-4">
                    <app-product></app-product>
                </div>
                <div class="col-md-4">
                    <app-product></app-product>
                </div>
            </div>
            <!--need to add page numbers ??-->
        </div>

    </div>
</div>
<!-- End Content -->