<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                Best Prices Around !
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a  routerLink="shop"><img src="./assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Visage</h5>
            <p class="text-center"><a class="btn btn-success" routerLink="shop">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a routerLink="shop"><img src="./assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Corps</h2>
            <p class="text-center"><a class="btn btn-success" routerLink="shop">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a routerLink="shop"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Solaire</h2>
            <p class="text-center"><a class="btn btn-success" routerLink="shop">Go Shop</a></p>
        </div>
    </div>
  </section>
  <!-- End Categories of The Month -->