<div class="card h-100" *ngFor="let p of product">
    <a (click)="goToDetail(product._id)">
        <img src= "{{ p.Image }}" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <ul class="list-unstyled d-flex justify-content-between">
            <li class="text-muted text-right">{{ p.price }}</li>
        </ul>
        <a (click)="goToDetail(product._id)" class="h3 text-decoration-none text-dark">{{p.title | lowercase}}</a>
        <p class="card-text">
            {{ p.description }}
        </p>
    </div>
    <a (click)="goToDetail(p._id)" class="h3 text-decoration-none text-dark btn btn-success">Check</a>
</div>