<section class="bg-light">
    <div class="container pb-5" *ngFor="let p of product">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{{p.Image}}" alt="Card image cap" id="product-detail">
                </div>
            </div>
       
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{p.title | lowercase}}</h1>
                        <p class="h3 py-2">{{p.price}}</p>

                        <h6>Description:</h6>
                        <p>{{p.description}}</p>

                        <div class="row pb-3">
                            <div class="col d-grid">
                                <a href="{{p.link}}" class="btn btn-success btn-lg" target="_blank" >Go To Product</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>